doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js')
    title shoorah PDF
  body
    div(style='width: 800px;height: 1024px;margin: auto;')
      // A4 size
      div(style='border: 2px solid #4A56DB;')
      div(style='padding: 30px 30px 0px 30px;')
        div(style='display: flex;flex-direction: row;justify-content: space-between;align-items: center;')
          div
            h1(style="font-family: 'Poppins';width: auto;height: 21px;font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #18202F;margin: 0;")
              | Company Name: 
              span(style='font-weight: 500;')
                i #{locals.name}
          div
            img(src='https://d12231i07r54en.cloudfront.net/app_configs/pdf_shoorah_logo.png' alt='shoorah-logo' style='width: 120px;height: 20px;')
        div(style='display: flex;flex-direction: row;justify-content: center;align-items: center;width: 100%;height: 41px;background: #4A56DB;border-radius: 10px;margin: 20px 0px 25px 0px;')
          p(style="width: auto;height: 21px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 21px;color: #FFFFFF;margin: 0;")
            | #{locals.fromDate} - #{locals.toDate}
        div(style='width: 100%;height: auto;margin: auto;display: flex;flex-direction: row;align-items: center;justify-content: center;')
          div(style='width: 100%;height: auto;')
            div(style='width: 100%;height: auto;')
              h1(style="font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 24px;line-height: 34px;width: auto;height: 24px;\
              color: #18202F;margin: 0;text-align: center;") #{graphName} #{department}
              div(style='display: flex;justify-content: center;align-items: center;margin-top: 25px;')
                div(style='width: 100%;height: auto;')
                  div(style='position: relative;')
                    //- img(src= locals.happySmallIcon alt='Happy Icon' style='position: absolute;top: 48px;left: 111px;')
                  div(style='width: 100%;height: auto;margin:0;')
                    div(style='display: flex;flex-direction: row;align-items: center;margin: 0px 0px 15px 0px;')                        
                      p(style="width: 100%;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;color: #18202F;margin:0;")
                        | !{solutionData}
               
        //- div(style='margin: 50px 0px 0px 0px;width: 95%;height: auto;border: 1px dashed rgba(24, 32, 47, 0.4);\
        //- border-radius: 10px;padding: 16px;display: flex;flex-direction: row;justify-content: space-between;align-items: center;')
        //-   div(style='display: flex;flex-direction: column;justify-content: space-between;width: 70%;height: auto;')
        //-     h1(style="width: auto;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 18px;text-align: left;color: #18202F;margin: 0;")
        //-       | Final Message:
        //-     p(style="width: 100%;height: 54px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;text-align: left;                    \
        //-     color: #18202F;margin: 10px 0px 0px 0px;")
        //-       | #{locals.finalMessage}
              //- | For the dates/period you choose, your score is 60-100% and you should be very proud you are in a
              //- | small minority of humans that are very happy with themselves and with their life. WELL DONE
          div(style='display: flex;flex-direction: column;align-items: center;justify-content: space-between;')
            img(src=locals.finalIcon alt='happy.svg' style='width:80px; height:80px;')
            p(style="width: auto;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;text-align: center;\
            color: #18202F;margin: 0;") #{locals.finalIconText}
        div(style='margin-top: 30px;width: 100%;height: auto;')
          p(style="margin: 0;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 11px;line-height: 14px;color: #727272;")
            span(style="color:#18202F;") Disclamier:
            |  The Solution shown here is intended for informational purposes only and is not
            |                     a
            |                     substitute for professional medical advice, diagnosis, or treatment. The score is based on your
            |                     self-reported mood and may not accurately reflect your true mental or emotional state. Shoorah is
            |                     not authorized or regulated to provide official medical or mental health advice. The Shoorah ME
            |                     section was built for users to track a variety of moods and emotions, but not all. If you are
            |                     experiencing any emotional or mental health conditions and have concerns, please seek the advice of
            |                     a qualified healthcare professional. By using the ME section, you agree to release the developer
            |                     from any liability arising from your use of our application.
        p(style="margin: 40px 0px 10px 0px;text-align: center;width: auto;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 300;font-size: 13px;line-height: 15px;color: #727272;")
          | This Solution report is generated from the Shoorah Ltd ❤️
    script.
    
     