doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap' rel='stylesheet')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js')
    title shoorah PDF
  body
    div(style='width: 800px;height: 1024px;margin: auto;')
      // A4 size
      div(style='border: 2px solid #4A56DB;')
      div(style='padding: 30px 30px 0px 30px;')
        div(style='display: flex;flex-direction: row;justify-content: space-between;align-items: center;')
          div
            h1(style="font-family: 'Poppins';width: auto;height: 21px;font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #18202F;margin: 0;")
              | Name: 
              span(style='font-weight: 500;')
                i #{locals.name}
          div
            img(src='https://d12231i07r54en.cloudfront.net/app_configs/pdf_shoorah_logo.png' alt='shoorah-logo' style='width: 120px;height: 20px;')
        div(style='display: flex;flex-direction: row;justify-content: center;align-items: center;width: 100%;height: 41px;background: #4A56DB;border-radius: 10px;margin: 20px 0px 25px 0px;')
          p(style="width: auto;height: 21px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 21px;color: #FFFFFF;margin: 0;")
            | #{locals.fromDate} - #{locals.toDate}
        div(style='width: 95%;height: auto;margin: auto;display: flex;flex-direction: row;align-items: center;justify-content: space-between;')
          div(style='width: 47.5%;height: auto;')
            div(style='width: 100%;height: auto;')
              h1(style="font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;width: auto;height: 24px;color: #18202F;margin: 0;text-align: center;")
                | Negative Feelings Score
              div(style='display: flex;justify-content: center;align-items: center;margin-top: 25px;')
                div(style='width: 80%;height: auto;')
                  div(style='position: relative;')
                    canvas#negativeChart(style='width:100%;max-width:600px;')
                    img(src= locals.sadSmallIcon alt='error' style='position: absolute;top: 48px;left: 111px;')
                  div(style='width: 100%;height: auto;margin: 25px 0px 0px 50px;')
                    div(style='display: flex;flex-direction: row;align-items: center;margin: 0px 0px 15px 0px;')
                      div(style='display: flex;justify-content: center;align-items: center;width: 60px;height: 25px;background: #61A5F4;border-radius: 40px;')
                        p(style="width: auto;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 12px;line-height: 18px;color: #FFFFFF;margin: 0px;")
                          | #{moodPercentage.demotivated}%
                      p(style="width: auto;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;color: #18202F;margin: 0px 0px 0px 10px;")
                        | Demotivated (#{moodCount.demotivated})
                   
          div(style='border: 1px dashed #B6C0F3;height: 593px;')
          div(style='width: 47.5%;height: auto;')
            div(style='width: 100%;height: auto;')
              h1(style="font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 24px;width: auto;height: 24px;\
              color: #18202F;margin: 0;text-align: center;") Positive Feelings Score
              div(style='display: flex;justify-content: center;align-items: center;margin-top: 25px;')
                div(style='width: 80%;height: auto;')
                  div(style='position: relative;')
                    canvas#positiveChart(style='width:100%;max-width:600px;')
                    img(src= locals.happySmallIcon alt='Happy Icon' style='position: absolute;top: 48px;left: 111px;')
                  div(style='width: 100%;height: auto;margin: 25px 0px 0px 50px;')
                    div(style='display: flex;flex-direction: row;align-items: center;margin: 0px 0px 15px 0px;')
                      div(style='display: flex;justify-content: center;align-items: center;width: 60px;height: 25px;background: #61A5F4;border-radius: 40px;')
                        p(style="width: auto;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 12px;line-height: 18px;color: #FFFFFF;margin: 0px;")
                          | #{moodPercentage.motivated}%
                      p(style="width: auto;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;color: #18202F;margin: 0px 0px 0px 10px;")
                        | Motivated (#{moodCount.motivated})
        
        p(style="margin: 40px 0px 10px 0px;text-align: center;width: auto;height: auto;font-family: 'Poppins';font-style: normal;font-weight: 300;font-size: 13px;line-height: 15px;color: #727272;")
          | This report is generated from the Shoorah Ltd ❤️
    script.
      //- var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
      const yNegativeValues = [#{locals.averageMoods.demotivated}, #{locals.averageMoods.low}, #{locals.averageMoods.angry}, #{locals.averageMoods.needSupport}, #{locals.averageMoods.helpless}, #{locals.averageMoods.tired},#{locals.averageMoods.anxious}, #{locals.averageMoods.stressed},#{locals.averageMoods.sad},];
      const yPositiveValues = [#{locals.averageMoods.motivated}, #{locals.averageMoods.content}, #{locals.averageMoods.happy}, #{locals.averageMoods.iCanManage}, #{locals.averageMoods.iAmInControl}, #{locals.averageMoods.energised},#{locals.averageMoods.calm}, #{locals.averageMoods.balanced},#{locals.averageMoods.relaxed},];
      const barColors = [
      "#61A5F4",
      "#2A9D8F",
      "#F4A261",
      "#E9C46A",
      "#8B5CF6",
      "#ADD8E6",
      "#F08080",
      "#F46196",
      "#0b1426bd"
      ];
      new Chart("negativeChart", {
      type: "doughnut",
      data: {
      datasets: [{
      backgroundColor: barColors,
      data: yNegativeValues,
      borderWidth: 4,
      }]
      },
      options: {
      devicePixelRatio: 7,
      cutoutPercentage: 60,
      animation: false,
      }
      });
      new Chart("positiveChart", {
      type: "doughnut",
      data: {
      datasets: [{
      backgroundColor: barColors,
      data: yPositiveValues,
      borderWidth: 4,
      }]
      },
      options: {
      devicePixelRatio: 7,
      cutoutPercentage: 60,
      animation: false,
      }
      });
